*.class
*.log

.metals
.env
.cache
.history
.lib/
dist/*
pg/*
data/*
log/*
target/
lib_managed/
node_modules/
src_managed/
frontend/build/
project/boot/
project/plugins/project/
.bloop
.metals

.bsp
.idea*

file-uploads
